# Virtual Environment
.venv/

# Python cache
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Local configuration
config.local.json
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db